/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html,
body {
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;    
        scroll-behavior: smooth;
    }

* {
        box-sizing: border-box;
    }

    p {
        line-height: 1.7;
        letter-spacing: normal;
    }
    a {
      text-decoration: none;
  }

/* custom scrollbar     */
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,.5); */
    background-color: #8d99ae;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #c31432, #240b36);
    border-radius: 5px;
}

/* Navbar styling */
.Navbar {
    position: fixed;
    width: 100vw;
    height: 7rem;
    background-color: transparent;
    /* background-color: rgba(0, 0, 0, .5); */
    z-index: 50;
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    opacity: .8;
}

.Navbar:hover {
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
}

.Navbar-ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 6rem;
}

.Navbar-ul > li {
    list-style: none;
}

.nav-link {
    color: #edf2f4;
    margin-right: 3rem;
    text-decoration: none;
    transition: .3s ease-in-out;
    outline: #ef233c;
}

.nav-link:hover {
    color: #ef233c;
    border-bottom: #ef233c;
}

.logo {
    margin-left: 5rem;
    width: 140px;
    padding-bottom: 5px;
    cursor: pointer;
}

/* mobile hamburger */

.button_container {
  position: fixed;
  top: 6%;
  right: 5%;
  height: 32px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  display: none;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #ef233c;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #ef233c;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/* styling index page */

.section-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.section1-wrapper {
    background: url("/indexPage1.webp");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .line {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 8rem;
  }
  .section-title {
    padding-top: 15rem;
    font-size: 4rem;
    color: white;
    text-align: center;
    padding-right: 14rem;
  }
  .section-subtitle {
    font-size: 3rem;
    color: #ef233c;
    text-align: center;
  }
  .scroll-down a {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 30px);
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    font-weight: 700;
  }
  .scroll-down a:hover {
    opacity: .5;
  }
  #scroll-down a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #scroll-down a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #ef233c;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .draw-border {
    box-shadow: inset 0 0 0 4px white;
    color: white;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #ef233c;
  }
  .draw-border:focus {
      outline: 0 !important;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ef233c;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
            transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
            transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    width: 30%;
    text-align: center;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }

  .btn-inv {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: .7em 2em;
    letter-spacing: 0.05rem;
    /* text-align: center; */
  }
  .btn-inv:focus {
    outline: 2px dotted #55d7dc;
  }


  /* section 2 */

  .section-2 {
      background-color: #2b2d42;
  }

  .section2-wrapper {
      display: flex;
      justify-content: center;
      padding: 7rem 0;
  }

  .section2-text--title {
      color: white;
      font-size: 3rem;
      text-align: center;
      }

  .section2-text--subtitle {
    color: white;
  }

  .tradeup-img {
      width: 40%;
      height: auto;
      margin-left: 4rem;
  }


  .trade-img {
    width: 40%;
    height: auto;
    margin-left: 4rem;
    }

    .arrow {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash-arrow 7s linear forwards;
      }
    .arrow > line {
        stroke: #edf2f4;
        animation: line-color 4s linear forwards;
    }
      
      @keyframes dash-arrow {
        to {
          stroke-dashoffset: 0;
        }
      }

      @keyframes line-color {
          to {
              stroke: #ef233c;
          }
      }
   
  .chart {
    background: #2b2d42;
    width: 30%;
    height: auto;
    border-left: 1px dotted #edf2f4;
    border-bottom: 1px dotted #edf2f4;
    padding: 20px 20px 20px 0;
    margin-left: 4rem;
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 7s linear forwards infinite;
    animation-delay: 3000;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  /* footer styling */
  .footer {
      width: 100%;
      height: 5rem;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
  }



  .footer-text {
      color: white;
      margin: 0 auto;
      padding-left: 6.5rem;
  }

  #telegram {
      width: 35px;
      height: auto;
      margin-right: 4rem;
  }

  #gmail {
    width: 35px;
    height: auto;
    color: #ef233c;
    margin-left: auto;
    margin-right: 1.5rem;
    }

    .blog-link {
      color: #8A2BE2;
    }
   


/* styling investments */
.container-blog {
    background-color: #2b2d42;
    /* min-height: 100vh; */
}

.blog-p {
    color: #edf2f4;
    font-size: 1.1rem;
}

.blog-subtitle {
    color: #edf2f4;
    font-size: 1.8rem;
    font-weight: 700;
}

.blog-title {
    color: #edf2f4;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.container-wrapper {
    padding: 8rem 0 2rem 0;
    overflow: hidden;
    max-width: 50%;
    margin: 0 auto;
}

.animation {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.money {
    color: green;
    transform: scale(2);
    position: absolute;
    left: 0%;
}

.male-icon {
    transform: scale(4);
    margin-left: 3rem;
}

.steam-icon {
    max-width: 100px;
    height: auto; 
    margin-left: 10rem;
}
.steam-icon2 {
    max-width: 100px;
    height: auto; 
    margin-right: 1rem;
}
.male-icon2 {
    transform: scale(4);
    margin-left: 10rem;
}

.money1 {
    margin-left: 1rem;
}

.bad-investment {
    border: 2px solid red;
    padding: 0rem 1rem;
    margin: 1rem 0 1rem 0;
}

.bad-investment--span {
    border-bottom: 3px solid red;
}

.good-investment {
    border: 2px solid green;
    padding: 0rem 1rem;
    margin: 1rem 0 1rem 0;
}

.good-investment--span {
    border-bottom: 3px solid green;
}

.steam-graph {
    margin: 1.5rem 0 1.5rem 0;
    width: 100%;
    height: auto;
}

.berlin {
    width: 100%;
    height: auto;
}

.london {
    width: 100%;
    height: auto;
}
.animation-clock {
    margin: 2.5rem 0 6rem 3rem;
    display: inline-block;
}
.clock {
position: absolute;
margin: auto;
display: inline-block;
background: white;
width: 50px;
height: 50px;
border: 3px solid #000;
border-radius: 50px;
box-sizing: border-box;
}

.center {
position: absolute;
top: 50%;
left: 50%;
margin: -1px 0 0 -1px;
display: block;
width: 2px;
height: 2px;
background-color: #000;
z-index: 999;
}

.big-hand {
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
height: 100%;
width: 2px;
-webkit-animation: tick 2s infinite linear;
        animation: tick 2s infinite linear;
}
.big-hand:before {
content: '';
position: absolute;
display: inline-block;
margin-left: -1px;
border: 1px solid #000;
border-radius: 50px;
background: #000;
height: 15px;
width: 1px;
top: 20px;
}

.short-hand {
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
height: 100%;
width: 2px;
-webkit-animation: tick 1.1s infinite linear;
        animation: tick 1.1s infinite linear;
}
.short-hand:before {
content: '';
position: absolute;
display: inline-block;
margin-left: -1px;
border: 1px solid #000;
border-radius: 50px;
background: #000;
height: 15px;
width: 1px;
top: 20px;
}

@-webkit-keyframes tick {
to {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

@keyframes tick {
to {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

/* styling tradeups */
.quality {
    display: flex;
}
.mill:before {
    content: "";
    width: 15px;
    height: 4px;
    background-color: #4B69FF;
    display: inline-block;
    position: relative;
    bottom: 3.5px;
    margin-right: 4px;
}

.restricted:before {
    content: "";
    width: 15px;
    height: 4px;
    background-color: #8847FF;
    display: inline-block;
    position: relative;
    bottom: 3.5px;
    margin-right: 4px;
}

.classified:before {
    content: "";
    width: 15px;
    height: 4px;
    background-color: #D32EE6;
    display: inline-block;
    position: relative;
    bottom: 3.5px;
    margin-right: 4px;
}

.covert:before {
    content: "";
    width: 15px;
    height: 4px;
    background-color: #EB4B4B;
    display: inline-block;
    position: relative;
    bottom: 3.5px;
    margin-right: 4px;
}

.rare:before {
    content: "";
    width: 15px;
    height: 4px;
    background-color: #FFD700;
    display: inline-block;
    position: relative;
    bottom: 3.5px;
    margin-right: 4px;
}


.distribution {
  border: 1px solid #FFD700;
  padding: 5px 0 5px 5px;
}

.quality-item {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-item:nth-child(1) {
    width: 7rem;
    background-color: #4B69FF;
}

.quality-item:nth-child(2) {
    width: 7rem;
    background-color: #8847FF;
}

.quality-item:nth-child(3) {
    width: 7rem;
    background-color: #D32EE6;
}

.quality-item:nth-child(4) {
    width: 7rem;
    background-color: #EB4B4B;
}

.quality-item:nth-child(5) {
    width: 7rem;
    background-color: #FFD700;
}

.min-float {
    border-bottom: 3px solid red;
}

.max-float {
    border-bottom: 3px solid green;
}

.avg {
    border-bottom: 3px solid blue;
}

.float-value {
  font-weight: 400;
  color: #edf2f4;
  font-size: 1.2rem;
}

/* styling trade */

.buy-order {
    width: 100%;
    height: auto;
}

.redline_stickers {
    width: 60%;
    height: auto;
}

.floats {
    width: 40%;
    height: auto;
}

.patterns-img {
    width: 60%;
    height: auto;
}

/* 404 page styling */
.error {
  background-color: #2b2d42;
  height: 100vh;
}
.error-title {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin-top: 5rem;
}

.error-img {
  width: 30%;
  height: auto;
  margin-bottom: 5rem;
  display: block;
  margin: 0 auto;
}

.error_wrapper {
  padding-top: 5rem;
  /* padding-bottom: 5rem; */
}

/* promocodes styling */
.promocodes {
  background-color: #2b2d42;
}

.promocodes-h1 {
  padding-top: 4rem;
  color: #edf2f4;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
}

.card {
  width: 23rem;
  position: relative;
  border: 3px solid #457b9d;
  box-shadow: 0 20px 50px rgba(69,123,157,0.5);
  padding: .5rem;
  flex-basis: 25%;
  margin: 2rem 2rem;
}


.card-header {
  border-bottom: 1px solid #457b9d;
  padding-bottom: .5rem;
}

.card-main {
  border-bottom: 1px solid #457b9d;
}


.card-img {
  width: 100%;
  height: 5rem;
  object-fit: contain;
}

.card-main > p {
  text-align: center;
  font-size: 1.4rem;
  color: #edf2f4;
}

.card-footer > p {
  text-align: center;
  color: #edf2f4;
}

.card-footer > p:nth-child(1) {
  font-size: 1.2rem;
}

.card-footer > p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 700;
}

/* giveaway styling */

.giveaway {
  background-color: #2b2d42;
}

.giveaway-wrapper {
  padding-top: 3rem;
}

.giveaway-title {
  padding-top: 4rem;
  text-align: center;
  color: #edf2f4;
}

.winners {
  text-align: center;
  padding: 2rem 0;
}

.winners > p {
  word-wrap: break-word;
  padding: 0 1rem;
}

.winners > h3 {
  font-size: 1.5rem;
}
.places {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.place {
  text-align: center;
  margin: 0 auto;
  flex-basis: 25%;
  padding: 1rem;
  transition: all .3s ease-in-out;
}

.place > img {
  width: 100%;
  max-height: auto;
}

.place > h3 {
  font-size: 1.8rem;
}

.place > p {
  color: #edf2f4;
}

.place:hover {
  transform: scale(1.05);
}

.first-place {
  box-shadow: 0 20px 50px #FFD700;
  border-radius: 20px;
  /* border: 3px solid #FFD700; */
}

.second-place {
  box-shadow: 0 20px 50px #C0C0C0;
  border-radius: 20px;
}

.first-place > h3 {
  color: #FFD700;
  }

.second-place > h3 {
    color: #C0C0C0;
  }

  .participating {
    text-align: center;
    font-size: 2rem;
    color: #edf2f4;
    padding-top: 4rem;
  }

  .giveaway-winners {
    color: #edf2f4;
    font-size: 1.1rem;
    text-align: center;
  }

  .tradelink {
    border: 1px solid white;
    background-color: transparent;
    padding: .6rem 0 .6rem .6rem;
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    display: block;
    width: 40%;
    transition: all .3s ease;
    outline: none;
  }

  .tradelink:focus {
    border: none;
    border-bottom: 1px solid red;
  }

  .howtoparticipate {
    color:#EB4B4B;
    text-align: center;
    display: block;
    margin: 5rem auto 1rem;
  }

  .participate-true {
    font-size: 1.2rem;
    text-align: center;
    color:#EB4B4B;
    padding: 2rem 0 3rem 0;
  }

  .giveaway-btn {
    margin-bottom: 3rem;
  }

  .incorrent-tradelink {
    text-align: center;
    color:#EB4B4B;
    margin-top: 0;
  }

  /* quiz styling */
  .questions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .quiz-item {
    border: 1px solid black;
    flex-basis: 40%;
    margin: 1rem;
  }

  .quiz-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .quiz-block {
    text-align: center;
  }

  .quiz {
    background-color: #2b2d42;
  }

  /* inventory value styling */
  .inventory-container {
    text-align: center;
    color: white;
  }

  .align-center {
    text-align: center;
  }

  .inventory-title {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  .inv-value {
    padding-top: 1rem;
    font-size: 1.2rem;
  }

  .inv-better {
    padding-top: 1rem;
  }

  .inv-err {
    text-align: center;
    font-size: 1.2rem;
    color: white;
  }

  .loader {
    font-family: sans-serif;
    height: 5vh;
    left: 50%;
    /* overflow-x: hidden; */
    margin-top: 5rem;
    padding-top: 3rem;
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 20vw;
    color: #edf2f4;
  }
  .loader:before {
    animation: left-to-right 1.5s alternate infinite linear;
    background-image: linear-gradient(to right, transparent, red, transparent);
    content: "";
    height: 3vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
  .loader:after {
    background-image: repeating-linear-gradient(90deg, #2b2d42, #2b2d42 1vw, transparent 1vw, transparent 10vw);
    content: "";
    height: 3vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .inventories {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    padding-bottom: 2rem;
  }

  .inventories > li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 1rem;
  }

  .inventories > li > span {
    padding: 1rem;
  }

  .top-inventories--name {
    width: 20%;
  }

  .top-inventories--title {
    text-align: center;
    color: white;
    padding: 4rem 0 2rem 0;
  }

  .color-white {
    color: white;
  }
  
  @keyframes left-to-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  

  @media screen and (max-width: 1400px) {
    .section-title {
      padding-top: 5rem;
    }
    .section-subtitle {
      margin: 0;
    }
  }

@media screen and (max-width: 1200px) {
    .container-wrapper {
      max-width: 60%;
    }
  }

@media screen and (max-width: 996px) {
    .section2-wrapper {
        display: block;
        padding: 1rem 0;
    }
    .section2-wrapper h3 {
        text-align: center;
    }
    .chart {
        background: #2b2d42;
        width: 40%;
        height: auto;
        padding: 20px 20px 20px 0;
        display: block;
        margin: 5rem auto;
      }

     .tradeup-img {
         display: block;
         margin: 0 auto;
         margin-top: 2rem;
         width: 60%;
     } 

     .trade-img {
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        width: 60%;
    }
    .arrow {
        width: 10%;
        height: auto;
        display: block;
        margin: 0 auto;
        position: absolute;
        right: 50%;
        bottom: 25%;
    }
    .section-title {
        padding-top: 6rem;
        padding-right: 0rem;
    }
    .line {
        padding-top: 5rem;
        display: block;
    }
    .promocodes-h1 {
      padding-top: 7rem;
    }
  }

@media screen and (max-width: 900px) {
    .container-wrapper {
      max-width: 75%;
    }
  }

  @media screen and (max-width: 768px) {
    .container-wrapper {
      max-width: 80%;
    }
    .arrow {
        display: none;
    }
    .error-img {
      width: 50%;
    }

    .place {
      flex-basis: 60%;
    }

    .second-place {
      margin-top: 5rem;
    }

    .button_container {
      display: block;
    }

    .Navbar-ul {
      display: none;
    }

    .Navbar:hover {
      background-color: rgba(0, 0, 0, 0);
      opacity: 1;
    }

    .inventories > li > a > img {
      width: 100px;
    }
    .top-inventories--name {
      width: 40%;
    }
  }

  @media screen and (max-width: 576px) {
    .container-wrapper {
      max-width: 90%;
      text-align: center;
    }
    .male-icon {
        margin-left: 2rem;
    }
    .animation {
        padding: 0 1rem;
    }
    .chart {
        width: 50%;
    }
    .tradeup-img {
        width: 80%;
    } 

    .trade-img {
       width: 80%;
   }
   .footer-text {
    color: white;
    margin: 0 auto;
    padding-left: 0rem;
    }
    #gmail {
        margin-right: .5rem;
    }
    .logo {
        margin-left: 1rem;
    }
    .line {
      padding: 0 5px 0 5px;
    }
    .section-title {
      padding-top: 3rem;
    }
    .redline_stickers {
      width: 90%;
    }
    .floats {
      width: 70%;
    }
    .patterns-img {
      width: 90%;
    }

    .card {
      flex-basis: 50%;
      margin: 2rem 2rem;
    }
    .section1-wrapper {
      background: url("/indexPage1_mobile.webp");
    }

    .btn {
      width: 35%;
    }

    .tradelink {
      width: 80%;
    }

    #telegram {
      margin-right: 1rem;
    }

    .inventories {
      justify-content: start;
    }
    .inventories > li > span {
      padding: .5rem;
    }
    
  }



